@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="https://4pawsins.com/wp-content/uploads/2017/02/FAQs-short-banner.jpg" alt="Dog Banner" style="max-height:100%;max-width:100%">
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to the Veterinary Administration System</h2>      
    </div>
</div>